.profile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 32%;
  margin-top: -62px;
}

.profile__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -9vh;
}
.profile__name {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 18vh;
}
.profile__email {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 25px;
}
.profile__input {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #424242;
  color: #fff;
  font-size: 11px;
  line-height: normal;
  padding-bottom: 15px;
  position: absolute;
  text-align: right;
}
.profile__input:focus {
  outline: none;
  text-align: right;
}
.register__input_email {
  border-style: none;
}
.profile__input::placeholder {
  color: #fff;
  text-align: right;
  font-size: 11px;
  line-height: normal;
}
.profile__span {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.profile__button-edit {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 0;
  line-height: normal;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  flex-shrink: 0;
}
.profile__button-edit:hover {
  opacity: 0.8;
}

.profile__button-logout {
  margin-top: 16px;
  color: #ee3465;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  padding-bottom: 70px;
}
.profile__button-logout:hover {
  opacity: 0.8;
}
.profile__button_hide {
  display: none;
}
.profile__button-save {
  border-radius: 3px;
  background: #3456f3;
  border-style: none;
  height: 45px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: normal;
  margin-top: 210px;
}

@media (max-width: 1024px) {
  .profile {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .profile {
    margin-top: -63px;
    width: 53%;
  }
  .profile__form {
    margin-top: 13vh;
  }
  .profile__name {
    margin-top: 12vh;
  }
}
@media (max-width: 550px) {
  .profile {
    width: 82%;
  }
  .profile__form {
    justify-content: start;
    margin-top: 18vh;
  }
  .profile__name {
    margin-top: 10vh;
  }
  .profile__button-edit {
    font-size: 12px;
  }
  .profile__button-logout {
    font-size: 12px;
  }
}
