.filter {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 10px;
}
.filter__checkbox {
  display: none;
}
.filter__label {
  font-size: 14px;
  display: contents;
  cursor: pointer;
}
.filter__label::before {
  display: inline-block;
  content: url(../../images/logo/chekbox-off.svg);
  margin-right: 13px;
  width: 24px;
  height: 24px;
}

.filter__checkbox:checked + .filter__label::before {
  display: inline-block;
  content: url(../../images/logo/chekbox-on.svg);
}
@media (max-width: 550px) {
  .filter {
    margin-top: 91px;
  }
  .filter__label {
    font-size: 11px;
    line-height: 163.636%;
  }
}
