.techs {
  background: #272727;
  padding-top: 102px;
  padding-bottom: 100px;
}
.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 90px;
  margin-bottom: 0;
}
.techs__text {
  margin: 27px auto 0;
  max-width: 465px;
  line-height: 20px;
  letter-spacing: -1.56px;
}
.techs__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 0;
}

.techs__item {
  display: flex;
  border-radius: 10px;
  background: #303030;
  width: 90px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.techs__link {
  padding: 20px;
  display: block;
  color: #fff;
  text-align: center;
  letter-spacing: -0.56px;
  text-decoration: none;
}
.techs__link:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  .techs {
    padding-top: 92px;
    padding-bottom: 89px;
  }
  .techs__subtitle {
    margin-top: 80px;
  }
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 20px;
  }
  .techs__list {
    margin-top: 85px;
  }
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .techs {
    padding-top: 49px;
  }
  .techs__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-top: 59px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 145.455%; /* 145.455% */
    letter-spacing: -0.44px;
    margin-top: 25px;
  }
  .techs__list {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
  }
}
