.about-me {
  margin-top: 110px;
}

.about-me__content {
  margin-top: 66px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 58px 28px auto 17px;
  grid-template-areas: 'name avatar' 'about avatar' 'text avatar' 'link avatar';
  text-align: left;
  column-gap: 24%;
}
.about-me__name {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: name;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
.about-me__about {
  grid-area: about;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 0;
}
.about-me__text {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__link {
  grid-area: link;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.about-me__link:hover {
  opacity: 0.7;
}
.about-me__avatar {
  grid-area: avatar;
  max-width: 100%;
}


@media (max-width: 768px) {
  .about-me {
    margin-top: 91px;
  }
  .about-me__content {
    column-gap: 0;
    grid-template-rows: 58px 28px auto 25px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .about-me__about {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%;
    margin-top: 10px;
    max-width: 88%;
  }
}
@media (max-width: 550px) {
  .about-me {
    margin-top: 50px;
  }
  .about-me__content {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
  }
  .about-me__name {
    order: 1;
    margin-top: 40px;

    font-size: 30px;
    letter-spacing: -1.2px;
  }
  .about-me__about {
    font-size: 11px;
    font-weight: 500;
    line-height: 145.455%;
    order: 1;
    margin-top: 20px;
  }
  .about-me__text {
    order: 1;
    font-size: 11px;
    line-height: 145.455%; /* 145.455% */
    max-width: 100%;
    margin-top: 20px;
  }
  .about-me__link {
    order: 1;
    margin-top: 40px;
  }
}
